.contact {
  &__wrap {
    text-align: center;
    width: 65%;
    margin: 0 auto;
  }
  &__title {
    margin-bottom: 30px;
  }
  &__button {
    padding: 20px;
    margin-bottom: 60px;
  }
}

.form {
  display: flex;
  flex-direction: column;
  &__item {
    margin-bottom: 20px;
    text-align: center;
    font-size: 15px;
    padding: 20px 10px;
  }
}
