@font-face {
  font-family: 'Lickerli One';
  src: local('Lickerli One'),
    url(../fonts/leckerlione/leckerlione-regular-webfont.eot),
    url(../fonts/leckerlione/leckerlione-regular-webfont.svg),
    url(../fonts/leckerlione/leckerlione-regular-webfont.ttf),
    url(../fonts/leckerlione/leckerlione-regular-webfont.woff);
  font-weight: 400;
}

@font-face {
  font-family: 'Poller One';
  src: local('Poller One'), url(../fonts/pollerone/pollerone-webfont.eot),
    url(../fonts/pollerone/pollerone-webfont.svg),
    url(../fonts/pollerone/pollerone-webfont.ttf),
    url(../fonts/pollerone/pollerone-webfont.woff);
}
