@import 'variables';
@import 'fonts';
@import 'about';

body {
  font-family: $font1;
}

a {
  color: $color-dark;
}

.wrapper {
  padding: 47px 0 0 0;
}

.container {
  max-width: 940px;
  margin: 0 auto;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.brand-name {
  font-size: 50px;
  font-family: $font-brand;
  text-transform: uppercase;
  margin-bottom: 55px;
}

.menu {
  color: $color-dark;
  font-size: 14px;
  font-weight: 900;
  text-transform: uppercase;
  margin-bottom: 50px;
  ul {
    display: flex;
    gap: 35px;
  }
  &__item:hover {
    color: $color-active;
  }
}

.logo {
  margin-bottom: 13px;
}

.title {
  font-family: $font2;
  font-size: 34px;
  text-transform: uppercase;
  background: $color-dark;
  color: #ffffff;
  display: inline-block;
  padding: 20px 30px;
}

.link {
  &__active {
    color: $color-active;
  }
}

.intro {
  width: 100%;
  height: 38.4vw;
  background: url(../img/the-beacon.jpg);
  background-size: cover;
  display: flex;
  align-items: center;
  margin-bottom: 37px;
  &__title {
    font-size: 20px;
    padding: 20px 25px;
    margin-bottom: 25px;
    text-transform: uppercase;
    font-family: $font2;
    background: #ffffff;
    display: inline-block;
  }
  &__body {
    padding-left: 47%;
  }
  &__subtitle {
    color: #ffffff;
    background: $color-dark;
    padding: 5px 25px;
    display: inline-block;
    font-size: 20px;
    margin-bottom: 13px;
    &:last-child {
      margin-bottom: 22px;
    }
  }
  &__button {
    background: $color-active;
    text-transform: uppercase;
    font-size: 16px;
    height: 62px;
    width: 155px;
    line-height: 62px;
    padding-left: 28px;
    color: white;
  }
}

.sample {
  &__wrap {
    display: flex;
    gap: 2.15%;
    margin-bottom: 175px;
  }
  &__item {
    flex: 1 1 31.9%;
  }
  &__img {
    margin-bottom: 30px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__title {
    font-size: 20px;
    text-align: center;
    width: 100%;
    text-transform: uppercase;
    font-family: $font2;
  }
}

.footer {
  background-color: $color-dark;
  width: 100%;
  color: #ffffff;
  font-size: 15px;
  padding: 36px 0 42px;
  &__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__icons {
    display: flex;
    gap: 20px;
  }
  &__twitter {
    background: url(../img/icons/icon-twitter.jpg) no-repeat center;
    background-size: cover;
    width: 44px;
    height: 44px;
    &:hover {
      background: url(../img/icons/icon-twitter-hover.jpg);
    }
  }
  &__facebook {
    background: url(../img/icons/icon-facebook.jpg) no-repeat center;
    background-size: cover;
    width: 44px;
    height: 44px;
    &:hover {
      background: url(../img/icons/icon-facebook-hover.jpg);
    }
  }
  &__google {
    background: url(../img/icons/icon-googleplus.jpg) no-repeat center;
    background-size: cover;
    width: 44px;
    height: 44px;
    &:hover {
      background: url(../img/icons/icon-googleplus-hover.jpg);
    }
  }
  &__pinterest {
    background: url(../img/icons/icon-pinterest.jpg) no-repeat center;
    background-size: cover;
    width: 44px;
    height: 44px;
    &:hover {
      background: url(../img/icons/icon-pinterest-hover.jpg);
    }
  }
}
